<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.order.mapper.OrderSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.order.entity.OrderSetting">
        <id column="id" property="id" />
        <result column="flash_order_overtime" property="flashOrderOvertime" />
        <result column="normal_order_overtime" property="normalOrderOvertime" />
        <result column="confirm_overtime" property="confirmOvertime" />
        <result column="finish_overtime" property="finishOvertime" />
        <result column="comment_overtime" property="commentOvertime" />
        <result column="member_level" property="memberLevel" />
    </resultMap>

</mapper>
