<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.ware.mapper.PurchaseDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.ware.entity.PurchaseDetail">
        <id column="id" property="id" />
        <result column="purchase_id" property="purchaseId" />
        <result column="sku_id" property="skuId" />
        <result column="sku_num" property="skuNum" />
        <result column="sku_price" property="skuPrice" />
        <result column="ware_id" property="wareId" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
