<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.ware.mapper.WareOrderTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.ware.entity.WareOrderTask">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_sn" property="orderSn" />
        <result column="consignee" property="consignee" />
        <result column="consignee_tel" property="consigneeTel" />
        <result column="delivery_address" property="deliveryAddress" />
        <result column="order_comment" property="orderComment" />
        <result column="payment_way" property="paymentWay" />
        <result column="task_status" property="taskStatus" />
        <result column="order_body" property="orderBody" />
        <result column="tracking_no" property="trackingNo" />
        <result column="create_time" property="createTime" />
        <result column="ware_id" property="wareId" />
        <result column="task_comment" property="taskComment" />
    </resultMap>

</mapper>
