<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.ware.mapper.WareSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.ware.entity.WareSku">
        <id column="id" property="id" />
        <result column="sku_id" property="skuId" />
        <result column="ware_id" property="wareId" />
        <result column="stock" property="stock" />
        <result column="sku_name" property="skuName" />
        <result column="stock_locked" property="stockLocked" />
    </resultMap>

</mapper>
