<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.product.mapper.BrandMapper">

    <resultMap type="Brand" id="BrandResult">
        <result property="brandId" column="brand_id" />
        <result property="name" column="name" />
        <result property="logo" column="logo" />
        <result property="description" column="description" />
        <result property="showStatus" column="show_status" />
        <result property="firstLetter" column="first_letter" />
        <result property="sort" column="sort" />
    </resultMap>

    <sql id="selectBrandVo">
        select brand_id, name, logo, description, show_status, first_letter, sort from pms_brand
    </sql>

    <select id="selectBrandList" parameterType="Brand" resultMap="BrandResult">
        <include refid="selectBrandVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="logo != null  and logo != ''"> and logo = #{logo}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="showStatus != null "> and show_status = #{showStatus}</if>
            <if test="firstLetter != null  and firstLetter != ''"> and first_letter = #{firstLetter}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>

</mapper>
