<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.product.mapper.CategoryBrandRelationMapper">
    
    <resultMap type="CategoryBrandRelation" id="CategoryBrandRelationResult">
        <result property="id" column="id" />
        <result property="brandId" column="brand_id" />
        <result property="catelogId" column="catelog_id" />
        <result property="brandName" column="brand_name" />
        <result property="catelogName" column="catelog_name" />
    </resultMap>

    <sql id="selectCategoryBrandRelationVo">
        select id, brand_id, catelog_id, brand_name, catelog_name from pms_category_brand_relation
    </sql>

    <select id="selectCategoryBrandRelationList" parameterType="CategoryBrandRelation" resultMap="CategoryBrandRelationResult">
        <include refid="selectCategoryBrandRelationVo"/>
        <where>  
            <if test="brandId != null "> and brand_id = #{brandId}</if>
            <if test="catelogId != null "> and catelog_id = #{catelogId}</if>
            <if test="brandName != null  and brandName != ''"> and brand_name like concat('%', #{brandName}, '%')</if>
            <if test="catelogName != null  and catelogName != ''"> and catelog_name like concat('%', #{catelogName}, '%')</if>
        </where>
    </select>

</mapper>