<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.product.mapper.CategoryBrandRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.product.entity.CategoryBrandRelation">
        <id column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="catelog_id" property="catelogId" />
        <result column="brand_name" property="brandName" />
        <result column="catelog_name" property="catelogName" />
    </resultMap>

</mapper>
