<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.coupon.SeckillSkuNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.coupon.com.gulimall.coupon.entity.SeckillSkuNotice">
        <id column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="sku_id" property="skuId" />
        <result column="session_id" property="sessionId" />
        <result column="subcribe_time" property="subcribeTime" />
        <result column="send_time" property="sendTime" />
        <result column="notice_type" property="noticeType" />
    </resultMap>

</mapper>
