<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.coupon.mapper.SeckillPromotionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.coupon.com.gulimall.coupon.entity.SeckillPromotion">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
    </resultMap>

</mapper>
