<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.coupon.SeckillSkuRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.coupon.com.gulimall.coupon.entity.SeckillSkuRelation">
        <id column="id" property="id" />
        <result column="promotion_id" property="promotionId" />
        <result column="promotion_session_id" property="promotionSessionId" />
        <result column="sku_id" property="skuId" />
        <result column="seckill_price" property="seckillPrice" />
        <result column="seckill_count" property="seckillCount" />
        <result column="seckill_limit" property="seckillLimit" />
        <result column="seckill_sort" property="seckillSort" />
    </resultMap>

</mapper>
