<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.coupon.mapper.SkuLadderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.coupon.com.gulimall.coupon.entity.SkuLadder">
        <id column="id" property="id" />
        <result column="sku_id" property="skuId" />
        <result column="full_count" property="fullCount" />
        <result column="discount" property="discount" />
        <result column="price" property="price" />
        <result column="add_other" property="addOther" />
    </resultMap>

</mapper>
