<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.coupon.mapper.SpuBoundsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.coupon.com.gulimall.coupon.entity.SpuBounds">
        <id column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="grow_bounds" property="growBounds" />
        <result column="buy_bounds" property="buyBounds" />
        <result column="work" property="work" />
    </resultMap>

</mapper>
