<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.member.mapper.MemberStatisticsInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulimall.member.entity.MemberStatisticsInfo">
        <id column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="consume_amount" property="consumeAmount" />
        <result column="coupon_amount" property="couponAmount" />
        <result column="order_count" property="orderCount" />
        <result column="coupon_count" property="couponCount" />
        <result column="comment_count" property="commentCount" />
        <result column="return_order_count" property="returnOrderCount" />
        <result column="login_count" property="loginCount" />
        <result column="attend_count" property="attendCount" />
        <result column="fans_count" property="fansCount" />
        <result column="collect_product_count" property="collectProductCount" />
        <result column="collect_subject_count" property="collectSubjectCount" />
        <result column="collect_comment_count" property="collectCommentCount" />
        <result column="invite_friend_count" property="inviteFriendCount" />
    </resultMap>

</mapper>
