<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.coupon.mapper.CouponSpuRelationMapper">
    
    <resultMap type="CouponSpuRelation" id="CouponSpuRelationResult">
        <result property="id" column="id" />
        <result property="couponId" column="coupon_id" />
        <result property="spuId" column="spu_id" />
        <result property="spuName" column="spu_name" />
    </resultMap>

    <sql id="selectCouponSpuRelationVo">
        select id, coupon_id, spu_id, spu_name from sms_coupon_spu_relation
    </sql>

    <select id="selectCouponSpuRelationList" parameterType="CouponSpuRelation" resultMap="CouponSpuRelationResult">
        <include refid="selectCouponSpuRelationVo"/>
        <where>  
            <if test="couponId != null "> and coupon_id = #{couponId}</if>
            <if test="spuId != null "> and spu_id = #{spuId}</if>
            <if test="spuName != null  and spuName != ''"> and spu_name like concat('%', #{spuName}, '%')</if>
        </where>
    </select>

</mapper>