<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.coupon.mapper.SeckillSkuRelationMapper">
    
    <resultMap type="SeckillSkuRelation" id="SeckillSkuRelationResult">
        <result property="id" column="id" />
        <result property="promotionId" column="promotion_id" />
        <result property="promotionSessionId" column="promotion_session_id" />
        <result property="skuId" column="sku_id" />
        <result property="seckillPrice" column="seckill_price" />
        <result property="seckillCount" column="seckill_count" />
        <result property="seckillLimit" column="seckill_limit" />
        <result property="seckillSort" column="seckill_sort" />
    </resultMap>

    <sql id="selectSeckillSkuRelationVo">
        select id, promotion_id, promotion_session_id, sku_id, seckill_price, seckill_count, seckill_limit, seckill_sort from sms_seckill_sku_relation
    </sql>

    <select id="selectSeckillSkuRelationList" parameterType="SeckillSkuRelation" resultMap="SeckillSkuRelationResult">
        <include refid="selectSeckillSkuRelationVo"/>
        <where>  
            <if test="promotionId != null "> and promotion_id = #{promotionId}</if>
            <if test="promotionSessionId != null "> and promotion_session_id = #{promotionSessionId}</if>
            <if test="skuId != null "> and sku_id = #{skuId}</if>
            <if test="seckillPrice != null "> and seckill_price = #{seckillPrice}</if>
            <if test="seckillCount != null "> and seckill_count = #{seckillCount}</if>
            <if test="seckillLimit != null "> and seckill_limit = #{seckillLimit}</if>
            <if test="seckillSort != null "> and seckill_sort = #{seckillSort}</if>
        </where>
    </select>

</mapper>