<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.coupon.mapper.SeckillSkuNoticeMapper">
    
    <resultMap type="SeckillSkuNotice" id="SeckillSkuNoticeResult">
        <result property="id" column="id" />
        <result property="memberId" column="member_id" />
        <result property="skuId" column="sku_id" />
        <result property="sessionId" column="session_id" />
        <result property="subcribeTime" column="subcribe_time" />
        <result property="sendTime" column="send_time" />
        <result property="noticeType" column="notice_type" />
    </resultMap>

    <sql id="selectSeckillSkuNoticeVo">
        select id, member_id, sku_id, session_id, subcribe_time, send_time, notice_type from sms_seckill_sku_notice
    </sql>

    <select id="selectSeckillSkuNoticeList" parameterType="SeckillSkuNotice" resultMap="SeckillSkuNoticeResult">
        <include refid="selectSeckillSkuNoticeVo"/>
        <where>  
            <if test="memberId != null "> and member_id = #{memberId}</if>
            <if test="skuId != null "> and sku_id = #{skuId}</if>
            <if test="sessionId != null "> and session_id = #{sessionId}</if>
            <if test="subcribeTime != null "> and subcribe_time = #{subcribeTime}</if>
            <if test="sendTime != null "> and send_time = #{sendTime}</if>
            <if test="noticeType != null "> and notice_type = #{noticeType}</if>
        </where>
    </select>

</mapper>