<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulimall.coupon.mapper.SpuBoundsMapper">
    
    <resultMap type="SpuBounds" id="SpuBoundsResult">
        <result property="id" column="id" />
        <result property="spuId" column="spu_id" />
        <result property="growBounds" column="grow_bounds" />
        <result property="buyBounds" column="buy_bounds" />
        <result property="work" column="work" />
    </resultMap>

    <sql id="selectSpuBoundsVo">
        select id, spu_id, grow_bounds, buy_bounds, work from sms_spu_bounds
    </sql>

    <select id="selectSpuBoundsList" parameterType="SpuBounds" resultMap="SpuBoundsResult">
        <include refid="selectSpuBoundsVo"/>
        <where>  
            <if test="spuId != null "> and spu_id = #{spuId}</if>
            <if test="growBounds != null "> and grow_bounds = #{growBounds}</if>
            <if test="buyBounds != null "> and buy_bounds = #{buyBounds}</if>
            <if test="work != null "> and work = #{work}</if>
        </where>
    </select>

</mapper>